* {
	box-sizing: border-box;
}

body {
	background-repeat: no-repeat;
	overflow: hidden;
	height: 100vh;
	margin: 0;
	color: #f6f6f6;
	font-family: monospace;
	transition: background 4s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bgA {
	background: #2780ce;
}

.bgH {
	background: #8c1616;
}

.container {
	max-width: 600px;
	max-height: 600px;
	padding: 16px;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
@media (max-width: 500px) {
	.container {
		flex-direction: column;
		justify-content: center;
	}
}

@media (max-height: 480px) and (max-width: 500px) {
	.focus-wrapper {
		position: absolute;
		z-index: -1;
		opacity: 0.2;
		transform: scale(0.69) !important;
	}
	.container {
		flex-direction: row;
	}
}

.control-wrapper {
	margin-right: 12px;
}
@media (max-width: 490px) {
	.control-wrapper {
		margin: 0;
	}
}

.timer-switch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

.timer-switch > *:hover,
.dot:hover {
	opacity: 1;
}
.dot-wrapper {
	display: flex;
	justify-content: center;
}
.dot {
	border: 2px solid white;
	height: 15px;
	width: 15px;
	margin: 0 8px;
	border-radius: 50%;
	opacity: 0.2;
}

.dot--selected {
	background: white;
	opacity: 0.8;
}

h1 {
	margin: 0;
	font-size: 3rem;
	opacity: 0.8;
}

.timer {
	text-align: center;
}

.completion {
	margin-bottom: 1em;
	text-align: center;
	opacity: 0.3;
	margin: 12px 0;
	cursor: default;
}

.controls {
	display: flex;
	justify-content: center;
}

button {
	height: 50px;
	min-width: 150px;
	font-size: 18px;
	font-weight: light;
	padding: 12px;
	background: transparent;
	color: #f6f6f6;
	text-transform: uppercase;
	border: 2px solid #f6f6f6;
	border-radius: 6px;
	opacity: 0.4;
}
button:hover {
	opacity: 1;
}
button:focus {
	outline: none;
}

.exhale {
	min-width: 110px;
	min-height: 110px;
	max-width: 110px;
	max-height: 110px;
	border-radius: 0%;
}
.inhale {
	min-width: 300px;
	min-height: 300px;
	max-width: 300px;
	max-height: 300px;
	border-radius: 100%;
}
.focus-wrapper {
	min-width: 300px;
	min-height: 300px;
	max-width: 300px;
	max-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.focus-symbol {
	transition: all 4s ease-in-out;
	transform-origin: center;
	transform: rotate(45deg);
	background: linear-gradient(100deg, #e6e6e6, #dedede);
	box-shadow: 19px 19px 38px rgba(0, 0, 0, 0.3),
		15px 15px 12px rgba(0, 0, 0, 0.22), -6px -6px 38px rgba(255, 255, 255, 0.2),
		-2px -2px 40px rgba(255, 255, 255, 0.22),
		inset -3px -3px 5px rgba(0, 0, 0, 0.23),
		inset 3px 3px 5px rgba(208, 233, 255, 0.23);
}

.BPM {
	margin-bottom: 2em;
	opacity: 0.4;
	pointer-events: none;
}

.timer,
.focus-symbol,
button {
	cursor: pointer;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
